<div class="pt-5 my-5 text-center container-fluid">
    <h1 class="display-3 fw-bold text-body-emphasis">Library management system</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">Introducing our Library Management System: Revolutionize your library's efficiency with
            streamlined operations, user-friendly interfaces, and comprehensive resource management. From cataloging to
            user access, our system offers a seamless experience for patrons and staff alike. Join libraries worldwide
            in optimizing resource utilization and enhancing the user journey with our innovative solution.</p>
    </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="display-2 pb-2 border-bottom">Fetures</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div data-aos="fade-up" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('../../../assets/images/all-books.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">View all books</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn" [routerLink]="['/all-books']">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div data-aos="fade-up" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('../../../assets/images/all-readers.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">View all readers
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn" [routerLink]="['/all-users']">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('../../../assets/images/all-authors.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">View all authors</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('../../../assets/images/add-book.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Add a book</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn" routerLink="['/add-book']">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('../../../assets/images/add-author.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Add an author</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div data-aos="fade-up" class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <button class="btn">
                                <i class="bi bi-arrow-right-circle-fill h2 text-white"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>